.container {
  min-height: 500px;
  padding: 20px;
}

.signalRState {
  color: rgba($color: green, $alpha: 0.3);
}

.imgContainer {
  display: flex;
  justify-content: center;

  width: 100%;
}

.messageItem {
  margin: 10px 0;

  color: rgba($color: skyblue, $alpha: 0.8);
}
